
@font-face {
    font-family: "open sans";
    src: url(./fonts/opensans-regular.woff2) format ("woff2"),
    src: url(./fonts/opensans-regular.woff) format ("woff");
}

/* Soluciona problemas con los paddings */
*{
    box-sizing: border-box;
}
/* Soluciona problemas con los paddings */

html{
    font-family: "open sans", sans-serif;
    font-size: 18px;
    color: white;
}

ul{
    list-style-type: none;
    padding: 0;
  
  }
  
  a{
      color: white;
      text-decoration: none;
  }

  h5, ul{
    margin-top: 0;
}

h6{
    margin-bottom: 0;
}



/* FOOTER */


footer{
    background-color: #2385E0;
    font-size: 18px;
    padding: 20px;

}

.links {
    display: flex;
}


h5, h6{
    font-size: 18px;

}

/* Redes */
.redes {
    flex-grow: 0.2;
}
.redes__titulo {
    font-family: "open sans", sans-serif;
    font-weight: bold;
}
.redes__twitter {
}
.redes__pinterest {
}
.redes__facebook {
}

/* Acerca */
.acercade {
    flex-grow: 2;
}

.acercade__titulo {
    font-family: "open sans", sans-serif;
    font-weight: bold;
}
.acercade__garantia {
}
.acercade__inversores {
}
.acercade__historia {
}

/* Terminos */
.terminos {
    flex-grow: 1;
}
.terminos__titulo {
    font-family: "open sans", sans-serif;
    font-weight: bold;
}
.terminos__cookies {
}
.terminos__privacidad {
}
.terminos__condiciones {
}
.terminos__legales {
}

/* Copyright */
.copyright{
    text-align: center;

}